<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.min.css">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all">
    <link href="{{ url_for('static', filename='css/style(1).css') }}" rel="stylesheet" type="text/css" media="all">
    <link href="{{ url_for('static', filename='css/owl.carousel.css') }}" rel="stylesheet" type="text/css" media="all">
    <link href="{{ url_for('static', filename='css/owl.theme.css') }}" rel="stylesheet" type="text/css" media="all">
    <link href="{{ url_for('static', filename='css/cm-overlay.css') }}" rel="stylesheet" type="text/css" media="all">
    <link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet" type="text/css" media="all">
    <link href="{{ url_for('static', filename='css/css') }}" rel="stylesheet" type="text/css" media="all">
    <link href="{{ url_for('static', filename='css/css(1)') }}" rel="stylesheet" type="text/css" media="all">

    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    
    <link href="{{ url_for('static', filename='css/animate.css') }}" rel="stylesheet" type="text/css" media="all">
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/wow.min.js') }}"></script>

    <style type="text/css" id="jarallax-clip-1">#jarallax-container-1 {
      clip: rect(0px 1440px 517px 0);
      clip: rect(0px, 1440px, 517px, 0);
      }
    </style>
    <style type="text/css" id="jarallax-clip-2">#jarallax-container-2 {
      clip: rect(0px 1440px 298px 0);
      clip: rect(0px, 1440px, 298px, 0);
      }
    </style>
    <style type="text/css" id="jarallax-clip-0">#jarallax-container-0 {
      clip: rect(0px 1440px 458px 0);
      clip: rect(0px, 1440px, 458px, 0);
      }
    </style>
  </head>
  <body>
    <!-- banner -->
    <div class="banner" style="background-image: url('../static/images/cortana.gif'); background-repeat: no-repeat;">
      <!--header-->
      <div class="header">
        <div class="container">
          <nav class="navbar navbar-default">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <h1><a href="#">se7en- <span style ="font-weight: bold">AI</span></a></h1>
            </div>
            <!--navbar-header-->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#about" class="scroll">About</a></li>
                <li><a href="#services" class="scroll">Services</a></li>
              </ul>
              <div class="clearfix"> </div>
            </div>
          </nav>
        </div>
      </div>
      <!--//header-->
      <div class="w3layouts-banner-info">
        <div class="container">
          <div class="w3layouts-banner-slider">
            <div class="slider">
              <div class="callbacks_container">
                <ul class="rslides callbacks callbacks1" id="slider4">
                  <li id="callbacks1_s0" class="callbacks1_on" style="display: block; float: left; position: relative; opacity: 1; z-index: 2; transition: opacity 500ms ease-in-out;">
                    <div class="agileits-banner-info">
                      <h3>Chatbot for <br>Landmark Detection</h3>
                      <p style="visibility: hidden;">Donec tellus metus, ornare et mollis ut, maximus id nisi. Quisque scelerisque accumsan sem nec ullamcorper. Cras sed purus eget augue egestas commodo. Sed erat magna, pharetra aliquet mattis mollis, maximus eget lacus. </p>
                    </div>
                  </li>
                  <li id="callbacks1_s1" style="display: block; float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 500ms ease-in-out;" class="">
                    <div class="agileits-banner-info">
                      <h3>Accept Credit Cards On Your Smartphone Today!</h3>
                      <p>Sed erat magna, pharetra aliquet mattis mollis, maximus eget lacus. Donec tellus metus, ornare et mollis ut, maximus id nisi. Quisque scelerisque accumsan sem nec ullamcorper. Cras sed purus eget augue egestas commodo. </p>
                    </div>
                  </li>
                </ul>
                
              </div>
              <script type="text/javascript" src="{{ url_for('static', filename='js/responsiveslides.min.js') }}"></script>
              
            </div>
          </div>
        </div>
      </div>
      <div class="bounce animated">
        <a href="#welcome" class="scroll">
          <div class="mouse"></div>
        </a>
      </div>
    </div>
    <!-- //banner -->
    <!---728x90--->
    
    <!-- footer -->
    <div class="jarallax footer" style="background-image: url('../static/images/7.jpg'); background-repeat: no-repeat;">
      
      <div class="container">
        <div class="footer-logo">
          <h3><a href="#">Accenture - <span>AI</span></a></h3>
        </div>
        <div class="agileinfo-social-grids">
          <h4>We are social</h4>
          <div class="border"></div>
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-rss"></i></a></li>
            <li><a href="#"><i class="fa fa-vk"></i></a></li>
          </ul>
        </div>
        <div class="copyright">
          <p>© 2018 GROOT. All rights reserved by group se7en </p>
        </div>
      </div>
    </div>
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/jarallax.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/SmoothScroll.min.js') }}"></script>

    <script type="text/javascript">
      /* init Jarallax */
      $('.jarallax').jarallax({
        speed: 0.5,
        imgWidth: 1366,
        imgHeight: 768
      })
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/move-top.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/easing.js') }}"></script>

    
    <!-- //here ends scrolling icon -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
    

    <div id="my-chat-layout-base">

      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">        
        <header class="mdl-layout__header mdl-layout__header--waterfall">
            <div class="mdl-layout__header-row adjustHeaderRow">
                <span class="mdl-layout-title">GROOT</span>

                <div class="mdl-layout-spacer"></div>

                <nav class="mdl-navigation">
                  <span class="mdl-navigation__link" onclick="minimiseChatBox()">
                    <i class="material-icons">remove</i>
                  </span>
                </nav>
            </div>

        </header>
      
        <main class="mdl-layout__content">
          
          <ul class="demo-list-three mdl-list" id="message-list">

            <li class="mdl-list__item mdl-menu__item--full-bleed-divider font-size-20px">
              <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-avatar">adb</i>
                <!-- <img src="{{ url_for('static', filename='images/icon.png') }} " height="40px" width="40px"> -->
                <span class="mdl-list__item-text-body text_bot_output">
                  Hi.. How can I help you.
                </span>
              </span>
              <span class="mdl-list__item-secondary-content display_hidden"></span>
            </li>            
           
          </ul>
          
        </main>

        <footer class="mdl-mini-footer">
            <form onsubmit="return userQuery();">
                <input id="myInputChatText" type="text" placeholder="Type your query" autocomplete="off" />
            </form>
        </footer>
      </div>

    </div>

    <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>

  </body>
</html>